{% extends 'NwpAssessmentBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Upload Papers
{% endblock %}

{% block page %}
<style type="text/css">
 table {
    table-layout: fixed;
    width: 100%;
}  
</style>
<h3 class="title">Errors - csv file</h3>

<h4>Tips</h4>
<ul>
<li><strong>Student Id, Student Grade Level, Writing School Year, Writing Order, and Project </strong> combination must be unique for each record.</li>
<li><strong>Writing Id (Filename) must be unique within Project</strong>, and must consist only of alphanumeric characters, hyphens, and underscores.</li>
<li><strong>System Removal Date</strong> must be in YYYY-mm-dd format (ex: 2017-05-15)</li> 
</ul>
<p>Please correct the following errors in your .csv file and resubmit it.  If you have any questions, please <a href="{{ path('NwpAssessmentBundle_pages_contact') }}">contact NWP</a>.</p>
<table class="table table-striped table-bordered table-condensed">
    <tr><th>Row</th>
        {% for c in column_array %}
            <th>{{c.column_id}}</br>{{c.column_desc}}</th>    
        {% endfor %}          
  </tr>
  {% set column_array_length = column_array|length-1 %}
  {% for key, value in error_msg_array %}
        {% if (error_msg_array[key]["uniqueId"] is defined) and (error_msg_array[key]['uniqueId']=="true") %}
            <tr><td>{{key}}  - not unique</td>
        {% else %}
            <tr><td>{{key}}</td> 
         {% endif %}
           {%  for c in range(0, column_array_length) %}
               <td>
                  {% if (error_msg_array[key][c]["uniqueFilename"] is defined) and (error_msg_array[key][c]['uniqueFilename']=="true") %}
                       Writing Id not unique
                  {% endif %}
                
                {% for e in error_type_array %}
                        {% if error_msg_array[key][c][e.error_id] is defined %}
                       {{ error_msg_array[key][c][e.error_id]}}
                       {% endif %}
                 {% endfor %}       
                </td>
            {% endfor %}         
  {% endfor %} 
</table>
<div>
    <div class="float-left">
        <a class="btn" href="{{ path('projectsite_scoringitem_new_multiple') }}">
           Back to Upload Papers
        </a>
    </div>
</div>
{% endblock %}
